<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <style>
       .div-a{float:left;width:20%;height:70%;margin-left:4px;}
       .div-zi1{width:100%;height:60%;}
       .div-zi2{margin-left:4px;background: url(../static/img/biankuang3.png);background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

       .div-b{float:left;width:55%;height:70%;}
       .div-c{float:left;width:24%;height:35%;background: url(../static/img/biankuang3.png);background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}
       .div-d{float:left;width:24%;height:35%;background: url(../static/img/biankuang3.png);background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}

       .div-f{float:left;width:31%;height:30%;margin-left:4px;background: url(../static/img/biankaung1.png);background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}
       .div-g{float:left;width:32%;height:30%;margin-left:31px;background: url(../static/img/biankaung1.png);background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}
       .div-h{float:left;width:32%;height:30%;margin-left:31px;background: url(../static/img/biankaung1.png);background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;}
       body{
           background-image: url(../static/img/bj4.jpg);
           background-repeat:no-repeat;
	        background-size:100% 100%;
	        -moz-background-size:100% 100%;
       }

   </style>
   <body >
       <div class="div-a">

           <div class="div-zi1">
               <div id="container1" style="height: 100%"></div>
           </div>
           <div class="div-zi2">
               <table style="margin-left: 35px;color: mintcream" >
               <caption align="top" style="color: #51be56">VLAN</caption>
                   <tr >
                    <td >vlan</td>
                    <td style="width:40%;">61.26.31.134</td>
                </tr>
                 <tr >
                    <td >vlan</td>
                    <td style="width:40%;">61.26.31.134</td>
                </tr>
                <tr >
                    <td >vlan</td>
                    <td style="width:40%;">61.26.31.134</td>
                </tr>
                <tr >
                    <td >vlan</td>
                    <td style="width:40%;">61.26.31.134</td>
                </tr>
                <tr >
                    <td >vlan</td>
                    <td style="width:40%;">61.26.31.134</td>
                </tr>
                <tr >
                    <td >vlan</td>
                    <td style="width:40%;">61.26.31.134</td>
                </tr>
                <tr >
                    <td >vlan</td>
                    <td style="width:40%;">61.26.31.134</td>
                </tr>

            </table>
           </div>
       </div>
       <
       <div class="div-b">
           <p style="text-align:center;height: 8px"><span style="font-size: 30px ;color: #51be56">网络监控大屏</span></p>
            <div id="container2" style="height: 100%"></div>
       </div>
       <div class="div-c">
           <table style="margin-left: 35px;color: mintcream">
               <caption align="top"style="color: #51be56">内网流量TOP5</caption>

               <th style="width: 100px;height: 30px">排名</th>
               <th style="width: 100px;">节点名</th>
               <th>流量</th>
                <tr>
                    <td >1</td>
                    <td style="width:40%;">监控流量</td>
                    <td>200M</td>
                </tr>
                <tr >
                    <td style="width:20%;height: 30px">2</td>
                    <td style="width:40%;">数据传输流量</td>
                    <td>180M</td>
                </tr>
                <tr  >
                    <td style="width:20%;height: 30px">3</td>
                    <td style="width:40%;">文件传输流量</td>
                    <td>169M</td>
                </tr>
                <tr  >
                    <td style="width:20%;height: 30px">4</td>
                    <td style="width:40%;">网络连接流量</td>
                    <td>140GM</td>
                </tr>
                <tr  >
                    <td style="width:20%;height: 30px">5</td>
                    <td style="width:40%;">其它流量</td>
                    <td>70M</td>
                </tr>
            </table>

       </div>

        <div class="div-d">
            <table style="margin-left: 35px;color: mintcream" >
               <caption align="top" style="color: #51be56">互联网出口流量TOP5</caption>
               <th style="width: 100px;height: 30px">排名</th>
               <th style="width: 100px;">节点名</th>
               <th>流量</th>
                <tr >
                    <td >1</td>
                    <td style="width:40%;">办公流量</td>
                    <td>400M</td>
                </tr>
                <tr  >
                    <td style="width:20%;height: 30px">2</td>
                    <td style="width:40%;">访问流量</td>
                    <td>300M</td>
                </tr>
                <tr  >
                    <td style="width:20%;height: 30px">3</td>
                    <td style="width:40%;">视频流量</td>
                    <td>200M</td>
                </tr>
                <tr  >
                    <td style="width:20%;height: 30px">4</td>
                    <td style="width:40%;">第三方流量</td>
                    <td>190M</td>
                </tr>
                <tr>
                    <td style="width:20%;height: 30px">5</td>
                    <td style="width:40%;">其它流量</td>
                    <td>100M</td>
                </tr>
            </table>
       </div>

       <div class="div-f">
            <table style="margin-left: 25px;color: mintcream">
               <caption align="top" style="color: #a54e4c">中心机房告警信息</caption>
               <th style="width: 100px;height: 30px">节点名称</th>
               <th style="width: 100px;">详情</th>
               <th>时间</th>
                <tr >
                    <td >节点1</td>
                    <td style="width:40%;height: 30px">路由器故障</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
                 <tr>
                    <td >节点2</td>
                    <td style="width:40%;height: 30px">集线器故障</td>
                    <td>2019-11-16 15:35:21</td>
                </tr> <tr >
                    <td >节点3</td>
                    <td style="width:40%; height: 30px">端口故障</td>
                    <td>2019-11-16 15:35:21</td>
                </tr> <tr >
                    <td >节点4</td>
                    <td style="width:40%; height: 30px">线路故障</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
            </table>
       </div>
       <div class="div-g">
            <table style="margin-left: 25px;color: mintcream">
               <caption align="top"style="color: #a54e4c">灾备机房告警信息</caption>
               <th style="width: 100px;height: 30px">节点名称</th>
               <th style="width: 100px;">详情</th>
               <th>时间</th>
                <tr >
                    <td >节点1</td>
                    <td style="width:40%;height: 30px">CPU温度过高</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
                 <tr >
                    <td >节点2</td>
                    <td style="width:40%;height: 30px">磁盘已满</td>
                    <td>2019-11-16 15:35:21</td>
                </tr> <tr>
                    <td >节点3</td>
                    <td style="width:40%;height: 30px">内存使用率过高</td>
                    <td>2019-11-16 15:35:21</td>
                </tr> <tr>
                    <td >节点4</td>
                    <td style="width:40%;height: 30px">网络故障</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
            </table>
       </div>
       <div class="div-h">
            <table style="margin-left: 25px;color: mintcream">
               <caption align="top"style="color: #a54e4c">航海路机房告警信息</caption>
               <th style="width: 100px;height: 30px">节点名称</th>
               <th style="width: 100px;">详情</th>
               <th>时间</th>
                <tr>
                    <td >节点1</td>
                    <td style="width:40%;height: 30px">网络故障</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
                 <tr>
                    <td >节点2</td>
                    <td style="width:40%;height: 30px">获取ip失败</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
                <tr>
                    <td >节点3</td>
                    <td style="width:40%;height: 30px">链路不通</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
                <tr>
                    <td >节点4</td>
                    <td style="width:40%;height: 30px">网络故障</td>
                    <td>2019-11-16 15:35:21</td>
                </tr>
            </table>
       </div>

       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
       <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <!-- font-awesome -->
        <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
        <!--蓝鲸提供的公用样式库 -->
        <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
        <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
        <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-cc-icon-1.0/iconfont.css" rel="stylesheet">

       <script type="text/javascript">
           var dom1 = document.getElementById("container1");
           var myChart1 = echarts.init(dom1);
           var nodes = [{
                x: '2',
                y: '5',
                name: '主机房',
                symbol: 'image://../static/img/jifang1.png',
               alarm: '产生告警了哦'
            },
            {
                x: '2',
                y: '0',
                name: '灾备机房',
                symbol:'image://../static/img/jifang2.png',
            },
                {
                x: '7',
                y: '-1',
                name: '东莞机房',
                symbol:'image://../static/img/jifang2.png',
            },
            {
                x: '6',
                y: '4',
                name: '西四环机房',
                symbol:'image://../static/img/jifang2.png',
            }
        ]
        var links = [{
                source: '主机房',
                target: '东莞机房',
                name: ''
            }, {
                source: '主机房',
                target: '灾备机房',
                name: ''
            },
            {
                source: '主机房',
                target: '西四环机房',
                name: ''
            },

        ]
        var charts = {
            nodes: [],
            links: [],
            linesData: []
        }
        var dataMap = new Map()
        for (var j = 0; j < nodes.length; j++) {
            var x = parseInt(nodes[j].x)
            var y = parseInt(nodes[j].y)
            var node = {
                name: nodes[j].name,
                value: [x, y],
                symbolSize: 50,
                alarm: nodes[j].alarm,
                symbol: nodes[j].symbol,

                itemStyle: {
                    normal: {
                        color: '#12b5d0',
                    }
                }
            }
            dataMap.set(nodes[j].name, [x, y])
            charts.nodes.push(node)
        }
        for (var i = 0; i < links.length; i++) {
            var link = {
                source: links[i].source,
                target: links[i].target,
                label: {
                    normal: {
                        show: true,
                        formatter: links[i].name
                    }
                },
                lineStyle: {
                    normal: {
                        color: '#00FFFF'
                    }
                }
            }
            charts.links.push(link)
            // 组装动态移动的效果数据
            var lines = [{
                coord: dataMap.get(links[i].source)
            }, {
                coord: dataMap.get(links[i].target)
            }]
            charts.linesData.push(lines)
        }
        option1 = {
            title: {
                text: '',
                textStyle: {
                    fontWeight: 'normal',
                    color: "#00FFFF",
                }
            },
            xAxis: {
                show: false,
                type: 'value'
            },
            yAxis: {
                show: false,
                type: 'value'
            },
            series: [{
                type: 'graph',
                layout: 'none',
                coordinateSystem: 'cartesian2d',
                symbolSize: 50,
                label: {
                    normal: {
                        show: true,
                        position: 'bottom',
                        color: '#00FFFF'
                    }
                },
                lineStyle: {
                    normal: {
                        width: 2,
                        shadowColor: 'none'
                    }
                },
                edgeSymbolSize: 8,
                data: charts.nodes,
                links: charts.links,
                itemStyle: {
                    normal: {
                        label: {
                            show: true,
                            formatter: function(item) {
                                return item.data.name
                            }
                        }
                    }
                }
            }, {
                name: 'A',
                type: 'lines',
                coordinateSystem: 'cartesian2d',
                effect: {
                    show: true,
                    trailLength: 0,
                    symbol: 'arrow',
                    color: '#00FFFF',
                    symbolSize: 8
                },
                data: charts.linesData
            }]
        };
         setInterval(() => {
            var dataI = []
            for (var n = 0; n < nodes.length; n++) {
                var alarm = nodes[n].alarm
                if (alarm !== null && alarm !== '' && alarm !== undefined) {
                    option1.series[0].data[n].symbolSize = 60
                    option1.series[0].data[n].label = {
                        normal: {
                            color: '#DC143C'
                        }
                    }
                    option1.series[0].itemStyle.normal.label.formatter = function(item) {
                        if (item.data.alarm !== undefined) {
                            return item.data.name + '\n[ ' + item.data.alarm + ' ]'
                        } else {
                            return item.data.name
                        }
                    }
                    dataI.push(n)
                }
            }
            myChart1.setOption(option1)
            setTimeout(() => {
                for (var m = 0; m < dataI.length; m++) {
                    option1.series[0].data[dataI[m]].symbolSize = 50
                    option1.series[0].data[dataI[m]].label = {
                        normal: {
                            color: '#00FFFF'
                        }
                    }
                    option1.series[0].itemStyle.normal.label.formatter = function(item) {
                        return item.data.name
                    }
                }
                myChart1.setOption(option1)
            }, 500)
        }, 1000)

    if (option1 && typeof option1 === "object") {
        myChart1.setOption(option1, true);
    }
    </script>

     <script>
        var dom2 = document.getElementById("container2");
        var myChart2 = echarts.init(dom2);
        option2 = null;
        var nodes = [{

                x: '16',
                y: '20',
                name: '防火墙1',
                symbol:'image://../static/img/fanghuoqiang.png',
            },{
                x: '20',
                y: '20',
                name: '防火墙2',
                symbol: 'image://../static/img/fanghuoqiang.png',

                alarm: '产生告警了哦'
            },

            {
                x: '16',
                y: '14',
                name: 'hj1',
                symbol:'image://../static/img/huiju.png',
            },
            {
                x: '20',
                y: '14',
                name: 'hj2',
                symbol:'image://../static/img/huiju.png',
            },
            {
                x: '18',
                y: '10',
                name: 'hj3',
                symbol:'image://../static/img/huiju.png',
            },
            {
                x: '16',
                y: '6',
                name: 'jiedian1',
                symbol:'image://../static/img/jiedian.png',
            },
            {
                x: '20',
                y: '6',
                name: 'jiedian2',
                symbol:'image://../static/img/jiedian.png',
            },{
                x: '20',
                y: '0.5',
                name: 'jr1',
                symbol:'image://../static/img/jr.png',
            },{
                x: '18',
                y: '0.5',
                name: 'jr2',
                symbol:'image://../static/img/jr.png',
            },{
                x: '16',
                y: '0.5',
                name: 'jr3',
                symbol:'image://../static/img/jr.png',
            },{
                x: '14',
                y: '0.5',
                name: 'jr4',
                symbol:'image://../static/img/jr.png',
            },{
                x: '12',
                y: '0.5',
                name: 'jr5',
                symbol:'image://../static/img/jr.png',
            },{
                x: '10',
                y: '0.5',
                name: 'jr6',
                symbol:'image://../static/img/jr.png',
            },{
                x: '11',
                y: '6',
                name: 'jiedian3',
                symbol:'image://../static/img/jiedian.png',
            },{
                x: '7',
                y: '6',
                name: 'jiedian4',
                symbol:'image://../static/img/jiedian.png',
            },{
                x: '11',
                y: '13',
                name: 'jiedian5',
                symbol:'image://../static/img/jiedian.png',
            },{
                x: '7',
                y: '13',
                name: 'jiedian6',
                symbol:'image://../static/img/jiedian.png',
            },{
                x: '2',
                y: '14',
                name: 'luyou1',
                symbol:'image://../static/img/luyou.png',
            },{
                x: '2',
                y: '10',
                name: 'luyou2',
                symbol:'image://../static/img/luyou.png',
            },
            {
                x: '2',
                y: '6',
                name: 'luyou3',
                symbol:'image://../static/img/luyou.png',
            },{
                x: '6',
                y: '1',
                name: '防火墙3',
                symbol: 'image://../static/img/fanghuoqiang.png',

                alarm: '产生告警了哦'
            },{
                x: '3',
                y: '1',
                name: 'luyou4',
                symbol:'image://../static/img/luyou.png',
            },{
                x: '0',
                y: '1',
                name: '机房',
                symbol:'image://../static/img/jf.png',
            },{
                x: '3',
                y: '1',
                name: 'luyou5',
                symbol:'image://../static/img/luyou.png',
            },{
                x: '5',
                y: '18',
                name: 'luyou6',
                symbol:'image://../static/img/luyou.png',
            },{
                x: '7',
                y: '18',
                name: 'luyou7',
                symbol:'image://../static/img/luyou.png',
            },{
                x: '9',
                y: '18',
                name: 'luyou8',
                symbol:'image://../static/img/luyou.png',
            },{
                x: '11',
                y: '18',
                name: 'luyou9',
                symbol:'image://../static/img/luyou.png',
            },


        ]
        var links = [{
                source: '防火墙1',
                target: 'hj1',
                name: ''
            }, {
                source: '防火墙2',
                target: 'hj2',
                name: ''
            },
            {
                source: 'hj1',
                target: '防火墙2',
                name: ''
            },
            {
                source: 'hj2',
                target: '防火墙1',
                name: ''
            },
            {
                source: 'hj1',
                target: 'hj3',
                name: ''
            },{
                source: 'hj2',
                target: 'hj3',
                name: ''
            },{
                source: 'hj3',
                target: 'jiedian1',
                name: ''
            },{
                source: 'hj3',
                target: 'jiedian2',
                name: ''
            },{
                source: 'jiedian1',
                target: 'jiedian2',
                name: ''
            },{
                source: 'jiedian2',
                target: 'jiedian1',
                name: ''
            },{
                source: 'jiedian1',
                target: 'jr4',
                name: ''
            },{
                source: 'jiedian1',
                target: 'jr5',
                name: ''
            },{
                source: 'jiedian1',
                target: 'jr6',
                name: ''
            },{
                source: 'jiedian2',
                target: 'jr1',
                name: ''
            },{
                source: 'jiedian2',
                target: 'jr2',
                name: ''
            },{
                source: 'jiedian2',
                target: 'jr3',
                name: ''
            },{
                source: 'jr2',
                target: 'jr3',
                name: ''
            },{
                source: 'jiedian6',
                target: 'jiedian5',
                name: ''
            },{
                source: 'jiedian5',
                target: 'jiedian3',
                name: ''
            },{
                source: 'jiedian3',
                target: 'jiedian4',
                name: ''
            },{
                source: 'jiedian6',
                target: 'jiedian4',
                name: ''
            },{
                source: 'jiedian5',
                target: 'jiedian6',
                name: ''
            },{
                source: 'jiedian3',
                target: 'jiedian5',
                name: ''
            },{
                source: 'jiedian4',
                target: 'jiedian3',
                name: ''
            },{
                source: 'jiedian4',
                target: 'jiedian6',
                name: ''
            },{
                source: 'jiedian1',
                target: 'jiedian3',
                name: ''
            },{
                source: 'jiedian3',
                target: 'jiedian1',
                name: ''
            },{
                source: 'jiedian4',
                target: 'luyou1',
                name: ''
            },{
                source: 'jiedian4',
                target: 'luyou2',
                name: ''
            },{
                source: 'jiedian4',
                target: 'luyou3',
                name: ''
            },{
                source: 'jiedian4',
                target: '防火墙3',
                name: ''
            },{
                source: '防火墙3',
                target: 'luyou4',
                name: ''
            },{
                source: 'luyou4',
                target: '机房',
                name: ''
            },{
                source: 'jiedian6',
                target: 'luyou6',
                name: ''
            },{
                source: 'jiedian6',
                target: 'luyou7',
                name: ''
            },{
                source: 'jiedian5',
                target: 'luyou8',
                name: ''
            },{
                source: 'jiedian5',
                target: 'luyou9',
                name: ''
            },
        ]
        var charts = {
            nodes: [],
            links: [],
            linesData: []
        }
        var dataMap = new Map()
        for (var j = 0; j < nodes.length; j++) {
            var x = parseInt(nodes[j].x)
            var y = parseInt(nodes[j].y)
            console.log("nodes",nodes[j])
            var node = {
                name: nodes[j].name,
                value: [x, y],
                symbolSize: 50,
                alarm: nodes[j].alarm,
                symbol: nodes[j].symbol,

                itemStyle: {
                    normal: {
                        color: '#12b5d0',
                    }
                }
            }
            dataMap.set(nodes[j].name, [x, y])
            charts.nodes.push(node)
        }
        for (var i = 0; i < links.length; i++) {
            var link = {
                source: links[i].source,
                target: links[i].target,
                label: {
                    normal: {
                        show: true,
                        formatter: links[i].name
                    }
                },
                lineStyle: {
                    normal: {
                        color: '#00FFFF'
                    }
                }
            }
            charts.links.push(link)
            // 组装动态移动的效果数据
            var lines = [{
                coord: dataMap.get(links[i].source)
            }, {
                coord: dataMap.get(links[i].target)
            }]
            charts.linesData.push(lines)
        }
            option2 = null;
            option2 = {
                title: {
                    text: '',
                    x:'center',
                    y:'top',
                    textAlign:'center',
                    textStyle: {
                        fontWeight: 'bold',
                        color: "#00FFFF",

                    }
                },
                xAxis: {
                    show: false,
                    type: 'value'
                },
                yAxis: {
                    show: false,
                    type: 'value'
                },
                series: [{
                    type: 'graph',
                    layout: 'none',
                    coordinateSystem: 'cartesian2d',
                    symbolSize: 50,
                    label: {
                        normal: {
                            show: true,
                            position: 'bottom',
                            color: '#00FFFF'
                        }
                    },
                    lineStyle: {
                        normal: {
                            width: 2,
                            shadowColor: 'none'
                        }
                    },
                    edgeSymbolSize: 8,
                    data: charts.nodes,
                    links: charts.links,
                    itemStyle: {
                        normal: {
                            label: {
                                show: true,
                                formatter: function(item) {
                                    return item.data.name
                                }
                            }
                        }
                    }
                }, {
                    name: 'A',
                    type: 'lines',
                    coordinateSystem: 'cartesian2d',
                    effect: {
                        show: true,
                        trailLength: 0,
                        symbol: 'arrow',
                        color: '#00FFFF',
                        symbolSize: 8
                    },
                    data: charts.linesData
                }]
            };
            // 用于告警的动态效果
        setInterval(() => {
            var dataI = []
            for (var n = 0; n < nodes.length; n++) {
                var alarm = nodes[n].alarm
                if (alarm !== null && alarm !== '' && alarm !== undefined) {
                    option2.series[0].data[n].symbolSize = 60
                    option2.series[0].data[n].label = {
                        normal: {
                            color: '#DC143C'
                        }
                    }
                    option2.series[0].itemStyle.normal.label.formatter = function(item) {
                        if (item.data.alarm !== undefined) {
                            return item.data.name + '\n[ ' + item.data.alarm + ' ]'
                        } else {
                            return item.data.name
                        }
                    }
                    dataI.push(n)
                }
            }
            myChart2.setOption(option2)
            setTimeout(() => {
                for (var m = 0; m < dataI.length; m++) {
                    option2.series[0].data[dataI[m]].symbolSize = 50
                    option2.series[0].data[dataI[m]].label = {
                        normal: {
                            color: '#00FFFF'
                        }
                    }
                    option2.series[0].itemStyle.normal.label.formatter = function(item) {
                        return item.data.name
                    }
                }
                myChart2.setOption(option2)
            }, 500)
        }, 1000)

            if (option2 && typeof option2 === "object") {
                myChart2.setOption(option2, true);
            }
       </script>
   </body>
</html>